<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
<section class="layout-content" layout:fragment="corpo">

	<nav class="navbar navbar-expand-md bg-light">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<i class="oi oi-caret-right"></i>
					<span>Cadastrar Cargos</span>
				</li>
			</ul>
		</div>
		<a class="btn btn-primary btn-md" th:href="@{/cargos/listar}" role="button">
			<span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
			<span>Listar Cargos</span>
		</a>
	</nav>

	<div class="container" id="cadastro">

		<div th:replace="fragments/alert"></div>

		<form th:action="${cargo.id == null} ? @{/cargos/salvar} : @{/cargos/editar}"
			  th:object="${cargo}" method="POST">

			<div th:replace="fragments/validacao  :: validacao"></div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome">Nome do Cargo</label>
					<input type="text" class="form-control" id="nome" placeholder="Nome Cargo"
						   autofocus="autofocus" th:field="*{nome}"/>
				</div>
				<div class="form-group col-md-4">
					<label for="departamento">Departamento</label>
					<select id="departamento" class="form-control" th:field="*{departamento}">
						<option value="">Selecione</option>
						<option th:each="d : ${departamentos}"
								th:value="${d.id}" th:text="${d.nome}">Administração</option>
					</select>
				</div>
			</div>
			<input type="hidden" id="id" th:field="*{id}"/>
			<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
		</form>
	</div>
</section>
</body>
</html>