<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
<section class="layout-content" layout:fragment="corpo">

	<nav class="navbar navbar-expand-md bg-light">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<i class="oi oi-caret-right"></i>
					<span>Lista de Cargos</span>
				</li>
			</ul>
		</div>
		<a class="btn btn-primary btn-md" th:href="@{/cargos/cadastrar}" role="button">
			<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
			<span>Novo Cargo</span>
		</a>
	</nav>

	<div class="container" id="listagem">

		<div th:replace="fragments/alert"></div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>
						<a class="" th:href="@{/cargos/listar(page=${pageCargo.pagina}, dir=desc)}" tabindex="-1">
							<span class="oi oi-arrow-bottom"></span></a>
						Cargo
						<a class="" th:href="@{/cargos/listar(page=${pageCargo.pagina}, dir=asc)}"tabindex="-1">
							<span class="oi oi-arrow-top"></span></a>
					</th>
					<th>Departamento</th>
					<th>Ação</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="c : ${pageCargo.registros}">
					<td th:text="${c.id}">1</td>
					<td th:text="${c.nome}">Auxiliar Contábil</td>
					<td th:text="${c.departamento.nome}">Contabilidade</td>
					<td colspan="2">
						<a class="btn btn-info btn-sm" th:href="@{/cargos/editar/{id} (id=${c.id}) }" role="button">
							<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
						</a>
						<button th:id="${#strings.concat('btn_cargos/excluir/', c.id)  }" type="button"
								class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
							<span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" th:href="@{/cargos/listar(page=${1}, dir=${pageCargo.direcao})}" tabindex="-1">First</a>
					</li>
					<li th:class="${pageCargo.pagina == 1} ? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.pagina - 1}, dir=${pageCargo.direcao})}" tabindex="-1">Prev</a>
					</li>
					<li class="page-item">
						<span class="page-link" th:text="|${pageCargo.pagina} de ${pageCargo.totalDePaginas}|"></span>
					</li>
					<li th:class="${pageCargo.pagina == pageCargo.totalDePaginas} ? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.pagina + 1}, dir=${pageCargo.direcao})}">Next</a>
					</li>
					<li class="page-item">
						<a class="page-link" th:href="@{/cargos/listar(page=${pageCargo.totalDePaginas}, dir=${pageCargo.direcao})}" tabindex="-1">Last</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div th:replace="fragments/modal :: modal"></div>

</section>
</body>
</html>		