<div th:if="${success} != null">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="oi oi-check"></i>
        <span>
		  	<strong th:text="${success}"></strong> 
		  </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div th:if="${fail} != null">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="oi oi-check"></i>
        <span>
		  	<strong th:text="${fail}"></strong>
		  </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>