/*
 * Base structure
 */
html, body {
    height: 100%;
}

body {
    padding-top: 56px;
    padding-left: 0;
}

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

/*
 * Content
 */
.layout-content {
    width: 100%;
    padding-top: 0px;
}

.container {
    width: 100%;
    padding-top: 20px;
}

/*
 * Sidebar
 */
.sidebar {
    width: 0px;
    height: 100vh;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #f8f9fa;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.sidebar .nav {
    margin-bottom: 0px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.sidebar ul li:hover a, .menu ul li.active a{
    color: #777777;
}

.sidebar ul{
    list-style: none;
    padding: 10px 0px;
}

.sidebar ul li a{
    display: block;
    color:#1a1a1a;
    padding: 10px 15px;
    white-space: nowrap;
}

.sidebar.sidebar-open {
    width: 300px;
}

/*
 * nav-pills home
 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1e94d2;
}

/*
 * toogle do navbar do menu
 */

.navbar-toggle {
    display: inline-block;
    margin-left: 10px;
}

/*
 * Footer
 */
.layout-footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 50px;
    border-top: 1px solid #eeeeee;
}

.footer-copy {
    font-size: 92%;
    display: block;
    color: #777777;
    text-align: center;
}